@model IEnumerable<Final_Project.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Adminlayoutt.cshtml";
}

<h2>Index</h2>
@Html.Raw(TempData["hemo"]);


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-dark" id="a">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Category1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    <img src="@Url.Content(item.ProductImage)" alt="Alternate Text" height="100" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Category1)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </tbody>
</table>
