@model Final_Project.Models.AdminOrderList_Result

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Adminlayoutt.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AdminOrderList_Result</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalbill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalbill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.invoiceFK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
